.sidebar {
    background-color: inherit;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    position: fixed;
    left: 0;
    height: 88%;
    width: 70px;
}

.sidebar_top,
.sidebar_bottom {
    background-color: #121212;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    cursor: pointer;
    opacity: 0.8;
}

.icon:hover {
    opacity: 1;
}

.sidebar_top {
    padding: 15px;
    gap: 20px;
}

.sidebar_bottom {
    gap: 10px
}

.sidebar_bottom_playlist_img {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 9px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.sidebar_bottom_playlist_img:hover {
    transform: translate(0, -5px);
}

.sidebar_bottom_playlist_icon {
    font-size: 30px;
    background-color: #292828;
    aspect-ratio: 1;
    width: 50px;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.sidebar_bottom_playlist_icon:hover {
    transform: translate(0, -5px);
}

.sidebar_bottom_playlist_name {
    font-size: 20px;
    background-color: #292828;
    aspect-ratio: 1;
    width: 50px;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
}

.sidebar_bottom_playlist_name:hover {
    transform: translate(0, -5px);
}

.sidebar_bottom_playlist {
    text-decoration: none;
}

.create_background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    backdrop-filter: brightness(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.create {
    position: relative;
    background-color: #292828;
    padding: 50px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_leave {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
    cursor: pointer;
}

.create_leave:hover {
    opacity: 1;
}

.create label {
    opacity: 0.7;
}

.create input {
    margin-top: -10px;
    background-color: #ffffff27;
    outline: none;
    border-radius: 999px;
    border: none;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
}

.create button {
    border: none;
    background-color: #ffffff27;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 9px;
    cursor: pointer;
    opacity: 0.7;
}

.create button:hover {
    opacity: 1;
}

.popupShow {
    display: flex;
}