@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.showop {
  opacity: 1;
}

main {
  margin-left: 90px;
  margin-right: 10px;
  position: absolute;
  height: 89%;
  right: 0;
  left: 0;
  overflow: auto;
  background-color: #121212;
  border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  margin-right: 100px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 99px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff8e;
  border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}