@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.showop {
  opacity: 1;
}

main {
  margin-left: 90px;
  margin-right: 10px;
  position: absolute;
  height: 89%;
  right: 0;
  left: 0;
  overflow: auto;
  background-color: #121212;
}